Cartopy~=0.24.1
numpy~=2.1.2
xarray~=2024.10.0
matplotlib~=3.9.2
geopandas~=1.0.1
scipy~=1.14.1
netCDF4~=1.7.1
pandas~=2.2.3
shapely~=2.0.6
requests~=2.32.3
logging~=0.4.9.6
python-dotenv~=1.0.1
tqdm~=4.66.6
urllib3~=2.2.3
aiohttp~=3.10.10
rich~=13.9.4
python-dateutil~=2.9.0.post0
rioxarray~=0.18.2
imageio~=2.36.0
pillow~=10.4.0
pytest~=8.3.4
tkcalendar~=1.6.1